*{
    transition: all 0.4ms;
}
Button:hover{
    opacity: 0.7;
   font-size:22px;
}

a:hover{
    opacity: 0.7;
   /* font-size:22px; */
   border-radius:13px ;
}
.gallery {
background: #EEE;
}

.gallery-cell {
width: 66%;
height: 200px;
margin-right: 10px;
background: #8C8;
counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
display: block;
text-align: center;
content: counter(gallery-cell);
line-height: 200px;
font-size: 80px;
color: white;
}
.photoHover{
    scale: 1;
    opacity: 1;
    transition: all .3s ease-in-out;
}
.photoHover:hover{
    transform: scale(1.01);
    opacity: 0.8;
    cursor: pointer;
}